<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xoqao.web.dao.CategoryMapper" >
    <!--初始化，查找所有的一级分类（big）-->
    <select id="selectBig" resultType="com.xoqao.web.bean.category.Category">
        select DISTINCT big from category
    </select>
    <!--初始化，查找所有的二级分类（small）-->
    <select id="selectSmall" resultType="com.xoqao.web.bean.category.Category">
        select DISTINCT small from category where big='${big_big}'
    </select>
    <!--初始化，查找所有的三级分类（second）-->
    <select id="selectSecend" resultType="com.xoqao.web.bean.category.Category">
        select DISTINCT secend from category where big='${big_big}' and small='${small_small}'
    </select>
    <!--根据请求参数查询cgid，绑定店铺号sid-->
    <insert id="savecategory">
        insert into category(big,sid,small,secend) values('${big}','${sid}','${small}','${secend}')
    </insert>
    <!--查重-->
    <select id="selectCategory" resultType="com.xoqao.web.bean.category.Category">
        select * from category where big='${big}'and sid='${sid}' and small='${small}'and secend='${secend}';
    </select>
    <!--如果存在，则更新-->
    <update id="updateCategory">
        UPDATE category set big='${big}',sid='${sid}',small='${small}',secend='${secend}' where cgid='${cgid}';
    </update>
    <!--查询店铺sid的所有类别-->
    <select id="selectCategoryBysid" resultType="com.xoqao.web.bean.category.Category">
        select * from category where sid='${sid}'
    </select>
</mapper>
