<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xoqao.web.dao.ShopMapper">

    <!--查询所有的商铺-->
    <select id="findAllShops" resultType="com.xoqao.web.bean.shop.Shop">
        SELECT * FROM  shop
    </select>

    <!--添加一个商铺-->
    <select id="saveShops" resultType="com.xoqao.web.bean.shop.Shop">
        insert into shop(shopname,type,stel,city,saddress,scope,subscrib) values('${shopname}','${type}','${stel}','${city}','${saddress}','${scope}','${subscrib}')
    </select>

    <!--根据店主bid查询店铺固定电话-->
    <select id="selectShopBybid" resultType="com.xoqao.web.bean.shop.Shop">
       select * from shop where sid = (select sid from boss where bid='${bid}')
    </select>

    <!--根据店主号查询店铺固定电话-->
    <select id="selectShopBysid" resultType="com.xoqao.web.bean.shop.Shop">
        select * from shop where sid='$sid'
    </select>

    <!--修改店铺信息,根据sid-->
    <update id="updateShop">
        UPDATE shop set shopname='${shopname}',type='${type}',stel='${stel}',city='${city}',saddress='${saddress}',scope='${scope}',subscrib='${subscrib}'  where bid=17
    </update>

    <!--根据店铺名字模糊查询长度-->
    <select id="selectShopsizeByname" resultType="int">
        select count(*)
        from shop,city
        where shop.city=city.cid and shopname like '%${shopname}%';
    </select>

    <!--根据店铺名字模糊查询page-->
    <select id="selectShopByname" resultType="com.xoqao.web.bean.shop.ShopCity">
        select shop.*,city.cityname
        from shop,city
        where shop.city=city.cid and shopname LIKE '%${page.shopname}%'
        limit ${page.start},${page.count}
    </select>

    <!--添加店铺信息-->
    <insert id="insertShop">
        <selectKey resultType="java.lang.Integer" keyProperty="sid" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into shop
        (bid,shopname,type,stel,city,saddress,scope,subscrib,logo,latitude,longgitude,showpic,headershow,permitpic,chain,openstatue)
        values
        (#{shop.bid},#{shop.shopname},#{shop.type},#{shop.stel},#{shop.city},#{shop.saddress},#{shop.scope},#{shop.subscrib},#{shop.logo},#{shop.latitude},#{shop.longgitude},#{shop.showpic},#{shop.headershow},#{shop.permitpic},#{shop.chain},#{shop.openstatue})
    </insert>

    <!--根据店主id查看店铺-->
    <select id="findShopByBid" resultType="com.xoqao.web.bean.shop.Shop">
      SELECT sid,bid,salesvo,slevel,shopname,type,stel,city,saddress,scope,subscrib,logo,latitude,longgitude,showpic,headershow,permitpic,chain,openstatue
      FROM shop
      WHERE bid=#{bid}
    </select>

</mapper>