@charset "utf-8";
/*
auther:772616760
*/
/*-----base.css-----*/
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,table,th,td,section,article,aside,header,footer,nav,dialog,figure{margin:0;padding:0;}
body,button,input,select,textarea{font:12px/1.5 verdana,\5FAE\8F6F\96C5\9ED1,sans-serif;}
section,article,aside,header,footer,nav,dialog,figure{display:block;}
fieldset,img{border:0;}
/*table {border-collapse:collapse;border-spacing:0;}*/
address,caption,cite,code,dfn,em,b,th,var,i{font-weight:normal; font-style:normal;}
code,kbd,pre,samp{font-family:courier new,courier,monospace;}
ol,ul{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:"";}
abbr,acronym{border:0;}
select,input,button,buttonimg,textarea,label,img{margin:0;vertical-align:middle;}
/*input[type=radio],input[type=checkbox]{margin-right:5px;}*/
b{font-weight:bold;}
.clear{ overflow:hidden; clear:both;}
.clearfix:after{clear:both; overflow:hidden;content:".";}
/*-----common------*/
a{text-decoration:none;color:#353535; cursor:pointer}
a:hover{text-decoration:underline;color:#4ea7df;}
.undis{ display:none}
.fl {float:left}
.fr {float:right}
/*----layout----*/

.wrap{width:900px;height:500px; margin:0px auto; z-index:1;}
.hr30{height:30px; clear:both; overflow:hidden}
.hr40{height:40px; clear:both; overflow:hidden}
.f-st{font-family:\5b8b\4f53}
.font14{font-size:14px}
.font15{font-size:15px}
.font16{font-size:16px}
.font18{font-size:18px}
.font24{font-size:24px}
.details{color:#4ea7df;padding-left:8px}
.mt45{margin-top:45px}




.banner{background:url(rural_banner_qiu2015.jpg) center top no-repeat;height:948px;width:100%;overflow:hidden}
.banner .wrap{position:relative;height:948px}
.slogo{z-index:10;position:absolute;top:25px;right:10px;width:160px;height:62px;background:url(rural_logo_qiu2015.png) no-repeat}
.slogo1{z-index:10;position:absolute;top:25px;right:180px;width:160px;height:62px;background:url(rural_sclogo.png) no-repeat}
/*.rural_ad{z-index:10px;position:absolute;top:210px;right:-700px;width:700px;height:401px;background:url(rural_banner_qiu2015.png) no-repeat}*/
.rural_ad{z-index:10px;position:absolute;top:210px;left:10px;width:700px;height:401px;background:url(rural_banner.png) no-repeat;opacity:0}








.daoyu{width:1000px; margin:10px auto;overflow:hidden;background:url(rural_dy_qiu2015.png) left center no-repeat}
.daoyu p{padding:30px 0 30px 130px;line-height:30px;color:#850000;text-indent:2em}







		.slider{width:100%;min-width:100px;height:485px;position:relative;overflow:hidden;text-align:center}
		.slider .focus_img{width:900px;position:absolute;left:50%;margin-left:-445px;}
		.slider .focus_img .tempWrap{overflow:visible!important;}
		.slider .focus_img .tempWrap ul{margin-left:-900px!important;}
		.slider .focus_img li{width:900px;overflow:hidden}
		.slider .focus_img li img{display:block;width:900px;height:400px;background:url(loading_qiu2015.gif) center center no-repeat;}

		.slider .focus_nav{position:absolute;width:910px; height:78px;bottom:-82px;left:0;padding-left:10px;*zoom:1;left:50%;margin-left:-500px;}
		.slider .focus_nav .tempWrap{overflow:visible!important;background-color:rgba(0,0,0,.5);filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#CC000000',endColorstr='#CC000000');}
		.slider .focus_nav .tempWrap ul{ position:relative;margin-left:-10px!important;width:900px; height:78px; overflow:hidden;}
		.slider .focus_nav ul{position:absolute;left:451px;bottom:89px;  width:1010px; height:78px;padding-top:4px !important;*zoom:1; overflow:hidden;}

		.slider .focus_nav li{position:relative;float:left;margin-right:4px;cursor:pointer;*zoom:1;opacity:0.5;}
		.slider .focus_nav li img{width:197px;height:78px;background:url(loading_qiu2015.gif) center center no-repeat;}
		.slider .focus_nav .on {opacity:1;}

		.slider .navPrev,.focus_nav .navNext{position:absolute;top:-63px;overflow:hidden;width:31px;height:31px;border:1px solid #fff;opacity:.6;filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#7F000000',endColorstr='#7F000000');*zoom:1;filter:Alpha(Opacity=60); z-index:100;}
		.slider .navPrev{left:250px;background:url(leftb_qiu2015.png) no-repeat;}
		.slider .navNext{right:250px;background:url(rightb_qiu2015.png) no-repeat;}
		.slider .navPrev:hover,.focus_nav .navNext:hover{opacity:1;filter:Alpha(Opacity=100);border-right-color:#fff;}
		.slider .focus_text{position:absolute;width:400px;height:360px;top:0;right:50%;margin-right:6px;z-index:1;background-color:rgba(0,0,0,.5);filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#CC000000',endColorstr='#CC000000'); padding:20px; display:none;overflow:hidden;}
		.slider .focus_text li{width:400px;height:360px; color:#FFFFFF;font:14px/30px "\5FAE\8F6F\96C5\9ED1","\5B8B\4F53","\9ED1\4F53"; text-align:left; overflow:hidden;}
		.slider .focus_text li .down{ position:absolute; bottom:65px; left:85px;width:58px;height:58px;}
		.slider .focus_text li a{color:#DF8E00;font:16px"\5FAE\8F6F\96C5\9ED1","\5B8B\4F53","\9ED1\4F53";}
		.slider .focus_text li a:link{color:#DF8E00;}
		.slider .focus_text li a:visited {color:#DF8E00;}
		.slider .focus_text li a:hover {color:#EEEEEE;}
		.slider .focus_text li a:active {color:#DF8E00;}
		.slider .focus_text li p a{color:#FFFFFF;font:24px/27px "\5FAE\8F6F\96C5\9ED1","\5B8B\4F53","\9ED1\4F53";}
		.slider .focus_text li p a:link{color:#FFFFFF;}
		.slider .focus_text li p a:visited {color:#FFFFFF;}
		.slider .focus_text li p a:hover {color:#cccccc;}
		.slider .focus_text li p a:active {color:#FFFFFF;}

		.slider .pnBtn{position:absolute;z-index:1;top:0;width:100%;height:400px;cursor:pointer}
		.slider .prev{left:-50%;margin-left:0px}
		.slider .next{left:50%;margin-left:0px}
		.slider .pnBtn .blackBg{display:block;position:absolute;left:0;top:0;width:100%;height:400px;_background:none;filter:alpha(opacity=50);opacity: 0.5;}
		.slider .pnBtn .arrow{display:none;position:absolute;top:100px;z-index:1;width:60px;height:400px}
		.slider .pnBtn .arrow:hover{filter:alpha(opacity=60);opacity:.6}
		.slider .prev .arrow{right:0;background:url("slider-arrow_qiu2015.png") -120px 0 no-repeat}
		.slider .next .arrow{left:0;background:url("slider-arrow_qiu2015.png") 0 0 no-repeat}



.tab_body{ height:508px; position:relative; background:transparent; width:1000px;margin:30px auto}
.tab_body .A3fBt{width:133px;float:left;margin-left:4px}
.tab_body .fcon{position:relative; width:861px; float:left;overflow:hidden}
.tab_body .A3fBt a{display:inline;float:left;background:url(df_qiu2015.png) no-repeat;background-position:0 -63px;width:133px;height:63px;position:relative;color:#444;line-height:55px;padding-left:30px}
.tab_body .A3fBt a:hover,.tab_body .A3fBt a.current{background:url(df_qiu2015.png) no-repeat;background-position:0 0;color:#850000;text-decoration:none}
.tab_body .fcon img{width:420px;height:242px; display:block; }
.tab_body .fcon ul{overflow:hidden}
.tab_body .fcon li{position:relative;width:420px;height:242px;float:left;margin:7px 0px 0px 7px}
.tab_body .fcon li span{z-index:10;position:absolute;bottom:0;left:0;width:420px;height:30px;background:url(blank3_qiu2015.png);display:block;color:white;text-align:center;line-height:30px}
.tab_body .fix{position:relative; height:498px; width:861px;overflow:hidden  }
.tab_body .fPs{width:861px; overflow:hidden; height:498px;border:1px solid #C2827E;float:right;position:relative;padding-bottom:7px}

.hd,.txts{text-align:center;overflow:hidden}
.txts{color:#850000;padding-top:20px}


.footer{width:100%;height:auto;background:url(fot_qiu2015.jpg) center bottom no-repeat;overflow:hidden}

.jcImgScroll { position:relative; height:340px;margin:30px auto;width:1000px}
.jcImgScroll li { border:1px solid #ccc; }
.jcImgScroll li a { background:#fff; display:block; height:340px;  }
.jcImgScroll li.loading a { background:#fff url(loading_qiu2015.gif) no-repeat center center;}
.jcImgScroll li img,.jcImgScroll li,.jcImgScroll em,.jcImgScroll dl { display:none; border:0 none;}
.jcImgScroll em.sPrev {z-index:20;position:absolute;left:0px;top:156px;width:21px; height:28px; background:url(rural_arrw_qiu2015.png) no-repeat; background-position:0 0;display:block }
.jcImgScroll em.sNext {z-index:20;position:absolute;right:0px;top:156px;width:21px; height:28px; background:url(rural_arrw_qiu2015.png) no-repeat; background-position:-21px 0;display:block}

.fts{text-align:center;line-height:28px;color:#850000;padding-bottom:100px}









